<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>

<body>
    <div>
        <div>
            <h1>login</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning">login</button>
                <p>Dont have an account? Click <a href="{% url 'auths:register' %}">Here<a> to Register<p>
            </form>
        </div>
    </div>
</body>

</html>
