<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>

    {%if user.is_authenticated%}
        Welcome, {{user.username}} <a href="{%url 'auths:logout'%}">[LOGOUT]</a>
    {%else%}
        <p>You are not logged in<a href="{%url 'auths:login'%}">[LOGIN]</a></p>
    {%endif%}

</body>
</html>